* {
    padding: 0;
    margin: 0;
}

body {
    display: flex;
    width: 100vw;
    height: 100vh;
    background: linear-gradient(to bottom right, rgb(79, 82, 236), rgb(96, 42, 197), rgb(233, 94, 163));
    justify-content: center;
    align-items: center;
    overflow: hidden;
    
}

.calc-body {
    width: 45vh;
    height: 55vh;
    border: 1px solid white;
    border-radius: 20px;
    box-shadow: 0 0 5px white;
    animation-name:calc-body ;
    animation-duration: 2s;
    animation-iteration-count: 1;
    animation-fill-mode: backwards;
}

@keyframes calc-body {
    0% {
        transform: translateY(100vh);
    }
    100% {
        transform: translateY(0);
    }
}
